.main {
  padding: 10px;
  height: 100vh;
}

.Layout {
  display: flex;
}

.sidebar {
  min-height: 100%;
  width: 300px;
  border-radius: 5px;
  background-color: #7091e6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-right: 20px;
}

.content {
  width: 100%;
  height: 100%;
}

.header {
  height: 10vh;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.body {
  height: 85vh;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.logo h6 {
  font-size: 1.5rem;
  margin: 20px 0px;
  text-align: center;
}
menu {
  margin-top: 50px;
}

.menu-item {
  margin-top: 30px;
}

.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item i {
  font-size: 1.2rem;
  margin: 0 15px;
}

.active {
  background-color: white;
  color: #7091e6;
  padding: 10px;
}

.active a,
active i {
  color: #7091e6;
}
.header-content {
  margin: 0 15px;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
}

.header-content i {
  margin-right: 20px;
  font-size: 1.2rem;
}

.header-content a {
  text-decoration: none;
  color: blue;
  margin: 0 10px;
  text-transform: uppercase;
}
